Appearance {

}

.pokemonTitleContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        margin: 0 8px 0 0;
    }
}

.PokemonBio {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
}