html {
    font-family: "Flexo-Regular", arial, sans-serif;
}

img {
    width: 286px;
    height: 286px;
}

.pokemonTitleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;

    p {
        margin: 0 8px 0 0;
    }
}

.lookup {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2px;
    width: 155px;
    border-radius: 8px;
}

.PokemonBio {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
}

.pokemonTypeContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        margin: 0 8px 0 0;
    }
}

.leftArrow {
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    margin-top: 275px;
}

.rightArrow {
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    margin-top: 275px;
}

.leftArrow:hover {
    cursor: pointer;
}

.rightArrow:hover {
    cursor: pointer;
}

.PokemonType {
    border: 1px solid black;
    border-radius: 8px;
    padding: 4px;
}

.PokemonType.normal {
    background-color: #a4acaf;
    border: none;
}

.PokemonType.fire {
    background-color: #fd7d24;
    border: none;
}

.PokemonType.water {
    background-color: #4592c4;
    border: none;
}

.PokemonType.grass {
    background-color: #9bcc50;
    border: none;
}

.PokemonType.flying {
    background-color: #3dc7ef;
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    border: none;
}

.PokemonType.fighting {
    background-color: #d56723;
    border: none;
}

.PokemonType.poison {
    background-color: #b97fc9;
    border: none;
}

.PokemonType.electric {
    background-color: #eed535;
    border: none;
}

.PokemonType.ground {
    background-color: #f7de3f;
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    border: none;
}

.PokemonType.rock {
    background-color: #a38c21;
    border: none;
}

.PokemonType.psychic {
    background-color: #f366b9;
    border: none;
}

.PokemonType.ice {
    background-color: #51c4e7;
    border: none;
}

.PokemonType.bug {
    background-color: #729f3f;
    border: none;
}

.PokemonType.ghost {
    background-color: #7b62a3;
    border: none;
}

.PokemonType.steel {
    background-color: #9eb7b8;
    border: none;
}

.PokemonType.dragon {
    background-color: #53a4cf;
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    border: none;
}

.PokemonType.dark {
    background-color: #707070;
    border: none;
}

.PokemonType.fairy {
    background-color: #fdb9e9;
    border: none;
}

.crySound {
    background-color: white;
    border-radius: 8px;
}

.crySound:hover {
    cursor: pointer;
}

.toggleSprite {
    background-color: white;
    border-radius: 8px;
    margin-left: 4px;
}

.toggleSprite:hover {
    cursor: pointer;
}

.toggleShinySprite {
    background-color: white;
    border-radius: 8px;
    margin-left: 4px;
}

.toggleShinySprite:hover {
    cursor: pointer;
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(100vw);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100vw);
    }

    50% {
        transform: translateX(0);
    }
}

@keyframes slideOutLeft {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100vw);
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100vw);
    }

    50% {
        transform: translateX(0);
    }
}

.pokemonImage {
    top: 0; /* Adjust as needed */
    left: 0; /* Adjust as needed */
    transition: transform 0.5s ease;
}

.slideOutRight {
    animation: slideOutRight 0.25s forwards;
    opacity: 0%;
    transition: opacity 0.1s ease-out;
}

.slideInLeft {
    animation: slideInLeft 0.25s forwards;
    opacity: 100%;
    transition: opacity 0.1s ease-in;
}

.slideOutLeft {
    animation: slideOutLeft 0.25s forwards;
    opacity: 0%;
    transition: opacity 0.1s ease-out;
}

.slideInRight {
    animation: slideInRight 0.25s forwards;
    opacity: 100%;
    transition: opacity 0.1s ease-in;
}
